<template>
    <ur-button componentid="<%= UID %>" @click="<%= UID %>__click" shape="solid" color="primary" size="medium">Button</ur-button>
</template>


<script>
export default {
    methods: {
      <%= UID %>__click(){
        console.log('button solid click')
      }
    }
}
</script>
