<template>
    <ur-button componentid="<%= UID %>" @click="<%= UID %>__click" color="primary" shape="border" size="medium">Button</ur-button>
</template>


<script>
export default {
    methods: {
      <%= UID %>__click(){
        console.log('button border click')
      }
    }
}
</script>
