<template>
    <ur-button componentid="<%= UID %>" shape="borderless" @click="<%= UID %>__click" color="primary" size="medium">Button</ur-button>
</template>


<script>
export default {
    methods: {
      <%= UID %>__click(){
        console.log('button borderless click')
      }
    }
}
</script>
