<template>
    <ur-checkbox-wrapper componentid="<%= UID %>" v-model="<%= UID %>__value"
                         ref="<%= UID %>__ref" group="<%= UID %>__group">
        <ur-checkbox value="sample" group="<%= UID %>__group">sample</ur-checkbox>
    </ur-checkbox-wrapper>
</template>

<script>
export default {
    data(){
        return{
            <%= UID %>__value: []
        }
    }
}
</script>
