<template>
    <ur-year-picker componentid="<%= UID %>" class="ur-date-picker-ide" v-model="<%= UID %>__value" @confirmed="<%= UID %>__confirmed" size="medium"/>
</template>
<script>
export default {
    data(){
        return{
            <%= UID %>__value: ''
        }
    },
    methods: {
        <%= UID %>__confirmed(val){
            console.log("[confirmed] selected value : "+ val);
        }
    }
}
</script>