<template>
    <div componentid="<%= UID %>" style="padding: 8px;">
        <span id="<%= UID %>__anchor">Tooltip anchor</span>
        <ur-tooltip target-id="<%= UID %>__anchor"
            @close-tooltips="<%= UID %>__closeTooltip">Tooltip contents</ur-tooltip>
    </div>
</template>

<script>
export default {
    methods: {
      <%= UID %>__closeTooltip(){
        console.log('tooltip close click')
      }
    }
}
</script>
