


$color--primary: #1E5FCB;
$color--point: #3CBEF5;
$color--status--error: #FF5858;
$color--status--warning: #F7A443;
$color--status--success: #4FCE67;
$color--status--processing: #336AFF;
$color--status--default: #959595;
$color--status--notification: #FF5858;
$font-size--base: 14px;
$font-size--h1-hero: 70px;
$font-size--h2: 52px;
$font-size--h3: 44px;
$font-size--h4: 32px;
$font-size--h5: 24px;
$font-size--h6: 20px;
$font-size--gnb-menu: 16px;
$font-size--lnb-menu-1: 14px;
$font-size--lnb-menu-2: 12px;
$font-size--page-title: 28px;
$font-size--page-sub-title: 20px;
$font-size--body: 16px;
$font-size--body--sub-01: 14px;
$font-size--body--sub-02: 12px;
$font-size--form--input: 14px;
$font-size--form--label: 14px;
$line-height--title: 1.5rem;
$line-height--body-text: 1.75rem;
$font-weight--bold: 700;
$font-weight--medium: 500;
$font-weight--regular: 400;

@import '~uidev-component/styles/token/_default.scss';

