// ************************************************
// Global SASS Variables Import
// ************************************************
@import "./variables.scss";

// ************************************************
// UIDEV Component Style Import
// ************************************************
@import "~uidev-component/styles/uidev.direct.scss";
@import "./component/override.scss";

// ************************************************
// Bootstrap Style Import
// ************************************************
@import "~bootstrap/scss/bootstrap.scss";

a,
a:hover,
a:active {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

h1 {
  font-size: $font-size--h1-hero;
  font-weight: normal;
}
h2 {
  font-size: $font-size--h2;
  font-weight: normal;
}
h3 {
  font-size: $font-size--h3;
  font-weight: normal;
}
h4 {
  font-size: $font-size--h4;
  font-weight: normal;
}
h5 {
  font-size: $font-size--h5;
  font-weight: normal;
}
h6 {
  font-size: $font-size--h6;
  font-weight: normal;
}

body {
  color: $ur__font-color--default;
  font-size: $ur__font-size--default;
  font-family: $ur__font-family;
}

div,
span {
  word-break: break-all;
}

.ui-frame {
  height: 100%;
}
.app-contents {
  overflow-x: hidden;
  overflow-y: auto;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ui-content-sample {
  border: 1px solid #eaeaea;
  background-color: #0011ff13;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 72px;
}
